.footer {
  padding: 26px 80px 20px;
  background-color: #303030;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 70px;

    @include tablet {
      flex-wrap: wrap;
    }

    @include small-tablet {
      justify-content: center;
    }
  }

  &__logo {
    max-width: 268px;

    svg,
    img {
      width: 100%;
      height: auto;
    }

    &--mobile {
      display: none;
    }

    @include small-tablet {
      display: none;

      &--mobile {
        display: flex;
        max-width: 136px;
        margin: 0 auto;
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__column-title {
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
  }

  &__info-title,
  &__info-text {
    line-height: 24px;
  }

  &__info-title {
    color: $white;
  }

  &__info-text {
    color: $light-gray;
  }

  &__social {
    @include flex-v-center;
    gap: 10px;
  }

  &__social-item {
    width: 40px;
    height: 40px;
    transition: all 0.2s ease-in-out;

    img {
      width: 100%;
    }

    @include for-desktop {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  // info
  &__column--info {
    gap: 10px;
    max-width: 50%;

    .footer__info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 45px;
      row-gap: 5px;

      &-item--adress {
        grid-area: 1 / 1 / 3 / 2;

        @include small-tablet {
          text-align: center;
          max-width: 150px;
          margin: 0 auto;
        }
      }

      &-item--phone {
        grid-area: 1 / 2 / 2 / 3;
      }

      &-item--email {
        grid-area: 2 / 2 / 3 / 3;
      }

      @include small-tablet {
        display: flex;
      }
    }
  }

  // posts
  &__column--posts {
    gap: 20px;
    flex-shrink: 0;

    @include small-tablet {
      display: none;
    }

    .footer__post {
      @include flex-v-center;
      gap: 20px;

      @include for-desktop {
        &:hover {
          .footer__post-title {
            &::after {
              opacity: 1;
            }
          }
        }
      }

      &-image {
        flex-shrink: 0;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }

      &-date {
        color: #808080;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.3px;
      }

      &-title {
        position: relative;
        font-size: 17px;
        line-height: 25.5px;
        letter-spacing: 0.3px;
        color: $white;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $white;
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  // contacts
  &__column--contacts {
    gap: 25px;
    max-width: 360px;
    width: 100%;

    @include small-tablet {
      display: none;
    }
  }

  &__copyright {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $light-gray;

    a {
      color: inherit;
      text-decoration: underline;
      transition: all 0.2s ease-in-out;

      @include for-desktop {
        &:hover {
          color: $white;
        }
      }
    }
  }

  @include small-tablet {
    padding: 50px 20px;

    &__social,
    &__info-item--phone,
    &__info-item--email,
    &__copyright {
      display: none;
    }
  }
}
