.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: $white;
  transition: all 0.2s ease-in-out;
  z-index: 100;

  @include small-tablet {
    position: static;
    padding: 30px 0;
  }

  &__container {
    @include small-tablet {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }

  &__wrapper {
    @include flex-all-sb;
    padding: 20px 77px;

    @include small-tablet {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      justify-content: flex-start;
      gap: 12px;
      padding: 10px $container-offset;
      width: 100%;
      background-color: $white;
      box-shadow: 0px 5px 2px -2px #a0a0a040;
      z-index: 10;
    }
  }

  &__logo {
    max-width: 268px;

    svg,
    img {
      width: 100%;
      height: auto;
    }

    &--mobile {
      display: none;
    }

    @include small-tablet {
      display: none;

      &--mobile {
        display: flex;
        max-width: 136px;
        margin: 0 auto;
      }
    }
  }

  &__nav {
    transition: all 0.3s ease-in-out;

    .nav {
      &__list {
        @include flex-all-center;
        gap: 34px;
      }

      &__link {
        position: relative;
        font-weight: 700;
        font-size: 13px;
        line-height: 19.5px;
        text-transform: uppercase;

        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $green;
          transition: all 0.2s ease-in-out;
          opacity: 0;
        }

        &.active {
          &::after {
            opacity: 1;
          }
        }

        @include for-desktop {
          &:hover {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }

    @include small-tablet {
      position: fixed;
      top: 0;
      left: 50%;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;

      display: flex;
      flex-direction: column;
      gap: 20px;

      padding: 20px $container-offset 50px;
      background-color: #f4f4f4;

      overflow-y: auto;
      transform: translate(-50%, calc(-100% - 57px));
      z-index: -1;

      &.menu--active {
        transform: translate(-50%, 57px);
      }

      .nav {
        &__list {
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
        }
      }
    }
  }

  .burger {
    display: none;

    @include small-tablet {
      display: block;
      @include burger;
    }
  }

  &__mobil-item {
    display: none;

    font-size: 25px;
    line-height: 36.5px;

    @include small-tablet {
      display: block;
    }
  }
}
