.projects {
  &__container {
    @include mobile {
      padding: 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__title,
  &__description {
    font-family: $tnr;
    text-align: center;
  }

  &__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 70px;

    @include small-tablet {
      font-size: 37px;
      line-height: 50px;
    }
  }

  &__description {
    font-size: 34px;
    line-height: 47.6px;

    span {
      font-weight: 700;
    }

    @include small-tablet {
      font-size: 30px;
      max-width: 400px;
      margin: 0 auto;
    }

    @include mobile {
      max-width: 300px;
    }
  }
}
